*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header, footer{
    background-color: #2d3e51;
}
.bg-green{
    background-color: #1bbc9d;
}
.content, .content-2{
    height: 200px;
    border: 2px solid black;
    margin: 10px 0px
}
.content-2{
    height: 50px;
}
.bg-grey{
    background-color: #3a556c;
}