*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header, footer{
    background-color: #2d3e51;
}

.content, .content-2{
    height: 200px;
    border: 2px solid black;
    margin: 10px 0px
}
.content-2{
    height: 50px;
}
.border-black{
    border-radius: 10px;
}
.bg-grey{
    background-color: #3a556c;
}
.bg-green{
    background-color: #1bbc9d;
}
.bg-red{
    background-color: #bb4a63;
}
.bg-lightblue{
    background-color: #1ea4b6;
}
.bg-black{
    background-color: #150f0e;
}
.bg-bluesky{
    background-color: #1c82c0;
}
.bg-blue{
    background-color: #0f38b4;
}
.bg-pink{
    background-color: #ccb2a3;
}