*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header, footer{
    background-color: #2d3e51;
}
/* styling */
.content{
    margin: 10px 0px  
}
.content-2{
    height: 50px;
}
.bg-grey{
    background-color: #3a556c;
}
.bg-green{
    background-color: #1bbc9d;
}
.padding-20{
    padding: 25px 0px;
}
.navbar-light .navbar-brand, .navbar-light .navbar-nav .nav-link{
    color: #fff;
    font-weight: 600;
}
.navbar-light .navbar-toggler {
    border-color: white
}
h2{
    margin: 20px 0px;
    font-size: 30px;
}
.star-line::after, .star-line::before, .star-line-black::after, .star-line-black::before{
    content: '';
    width: 60px;
    background-color: white;
    height: 3px;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 5px;
}
.star-line-black::after, .star-line-black::before{
    background-color: #000000;
}
.white-text{
    color: white;
}
.head-list{
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 5px;
    margin: 20px 0px;
    font-weight: 500;
}
.txt-d-none{
    text-decoration: none;
}
/* end of styling */

/* img */
.avatar{
    width: 50%;
}
.img-container, .just-center{
    display: flex;
    justify-content: center;
}
.star{
    font-size: 25px;
    margin: 0px 10px;
}
.image{
    width: 100%;
    border-radius: 10px;
}
